.places {
  margin-top: 50px;
}

.places h1 {
  font-size: 30px;
  margin-left: 20px;
}

.places article {
  display: flex;
  flex-direction: column;
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  position: relative;
}

.places article h2 {
  font-size: 30px;
  text-align: center;
}

.places-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.price-by-night {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px;
  margin: 15px 25px;
}

.place-header {
  padding-bottom: 10px;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-top: 1px solid #dddddd;
}

.max-guest,
.number-rooms,
.number-bathrooms {
  width: 100px;
}
